<scene_name: 'name'="defeat">

<image:>
    <'name'="deadmongus", 'posx'="900", 'posy'="520", 'width'="12",
    'heigth'="14", 'scale'="14", 'rotation'="0",
    'texture'="assets/img/player/deadmongus.png">
<image:>
    <'name'="defeat_background", 'posx'="600", 'posy'="0", 'width'="1280",
    'heigth'="720", 'scale'="1.6", 'rotation'="0",
    'texture'="assets/img/menus/defeat_background.jpg">

<button:>
		<'name'="play", 'posx'="650", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/play_button_still.png",
		'ho_texture'="assets/img/buttons/play_button_hovered.png",
		'sound'="assets/snd/vote.ogg", 'callback'="play">
<button:>
		<'name'="quit", 'posx'="1270", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/quit_button_still.png",
		'ho_texture'="assets/img/buttons/quit_button_hovered.png",
		'sound'="assets/snd/toggle.ogg", 'callback'="quit">
<button:>
	<'name'="home", 'posx'="960", 'posy'="900",
	'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
	'texture'="assets/img/buttons/home_button_still.png",
	'ho_texture'="assets/img/buttons/home_button_hovered.png",
	'sound'="assets/snd/toggle.ogg", 'callback'="home">

<sound:>
		<'path'="assets/snd/defeat.ogg",
        'volume'="100", 'pitch'="1", 'looping'="yes">
