<scene_name: 'name'="game_scene">

<image:>
    <'name'="house1", 'posx'="1088", 'posy'="634", 'width'="128",
    'heigth'="128", 'scale'="1", 'rotation'="0",
    'texture'="assets/img/map/blue_house_right_top.png">
<image:>
    <'name'="ship", 'posx'="493", 'posy'="285", 'width'="128",
    'heigth'="128", 'scale'="1", 'rotation'="0",
    'texture'="assets/img/map/ship_crashed_top.png">
<image:>
    <'name'="open_vent", 'posx'="-200", 'posy'="-200", 'width'="128",
    'heigth'="128", 'scale'="1", 'rotation'="0",
    'texture'="assets/img/map/vent_open.png">
<text:>
    <'name'="how_to_hit", 'posx'="430", 'posy'="100",
    'text'="Press <space> to hit ennemies",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="how_to_interact", 'posx'="430", 'posy'="130",
    'text'="Press <e> to interact with pnj",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="how_to_inv", 'posx'="380", 'posy'="160",
    'text'="Press <escape> to see stats and settings",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="percent", 'posx'="0", 'posy'="0", 'text'="0%",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="kill_streak", 'posx'="1150", 'posy'="480", 'text'="0",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="1",
    'letter_spacing'="1", 'line_spacing'="1">
<text:>
    <'name'="xp_points", 'posx'="0", 'posy'="0", 'text'="0 xp",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">

<entity:>
    <'name'="pnj", 'posx'="2342", 'posy'="602", 'width'="18", 'heigth'="18",
    'scale'="1.6", 'rotation'="0", 'texture'="assets/img/map/ghostmongus.png",
    'back_texture'="assets/img/menus/chatbox.png", 'action_sound'="assets/snd/vote.ogg",
    'dialogue'="KILL 20 SUSLORDS TO OPEN VENT", 'quest'="test", >

<sound:>
    <'path'="assets/snd/main_theme.ogg", 'volume'="100", 'pitch'="1",
    'looping'="yes">

<background: 'type'="map">