<scene_name: 'name'="home_scene">

<image:>
	    <'name'="title", 'posx'="1500", 'posy'="650",
		'width'="3000", 'height'="1417", 'scale'="0.65",
		'rotation'="0", 'texture'="assets/img/menus/title_screen.png">

<button:>
		<'name'="play", 'posx'="650", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/play_button_still.png",
		'ho_texture'="assets/img/buttons/play_button_hovered.png",
		'sound'="assets/snd/vote.ogg", 'callback'="play">

<button:>
		<'name'="option", 'posx'="960", 'posy'="900",
		'width'="74", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/options_button_still.png",
		'ho_texture'="assets/img/buttons/options_button_hovered.png",
		'sound'="assets/snd/toggle.ogg", 'callback'="main_options">

<button:>
		<'name'="quit", 'posx'="1270", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/quit_button_still.png",
		'ho_texture'="assets/img/buttons/quit_button_hovered.png",
		'sound'="assets/snd/toggle.ogg", 'callback'="quit">

<sound:>
		<'path'="assets/snd/amongus_trap_remix.ogg",
		'volume'="100", 'pitch'="1", 'looping'="yes">

<background: 'type'="img",
'path'="assets/img/background/background_space.png">