<scene_name: 'name'="main_options">

<image:>
        <'name'="options", 'posx'="660", 'posy'="165", 'width'="80",
        'heigth'="70", 'scale'="8.5", 'rotation'="0",
        'texture'="assets/img/menus/options_menu.png">

<button:>
        <'name'="quit", 'posx'="1270", 'posy'="900",
        'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
        'texture'="assets/img/buttons/quit_button_still.png",
        'ho_texture'="assets/img/buttons/quit_button_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="quit">
<button:>
        <'name'="back", 'posx'="650", 'posy'="900",
        'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
        'texture'="assets/img/buttons/back_button_still.png",
        'ho_texture'="assets/img/buttons/back_button_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="home">
<button:>
        <'name'="30", 'posx'="795", 'posy'="470",
        'width'="36", 'height'="36", 'scale'="2", 'rotation'="0",
        'texture'="assets/img/buttons/button_30fps_still.png",
        'ho_texture'="assets/img/buttons/button_30fps_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="30">
<button:>
        <'name'="60", 'posx'="880", 'posy'="470",
        'width'="36", 'height'="36", 'scale'="2", 'rotation'="0",
        'texture'="assets/img/buttons/button_60fps_still.png",
        'ho_texture'="assets/img/buttons/button_60fps_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="60">
<button:>
        <'name'="120", 'posx'="960", 'posy'="470",
        'width'="36", 'height'="36", 'scale'="2", 'rotation'="0",
        'texture'="assets/img/buttons/button_120fps_still.png",
        'ho_texture'="assets/img/buttons/button_120fps_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="120">
<button:>
        <'name'="zqsd", 'posx'="802", 'posy'="645",
        'width'="64", 'height'="36", 'scale'="2", 'rotation'="0",
        'texture'="assets/img/buttons/button_zqsd_still.png",
        'ho_texture'="assets/img/buttons/button_zqsd_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="zqsd">
<button:>
        <'name'="arrows", 'posx'="945", 'posy'="645",
        'width'="64", 'height'="36", 'scale'="2", 'rotation'="0",
        'texture'="assets/img/buttons/button_arrows_still.png",
        'ho_texture'="assets/img/buttons/button_arrows_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="arrows">
<button:>
        <'name'="slider", 'posx'="1210", 'posy'="303",
        'width'="3", 'height'="4", 'scale'="12", 'rotation'="0",
        'texture'="assets/img/menus/volume_slider_still.png",
        'ho_texture'="assets/img/menus/volume_slider_hovered.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="no">
<button:>
        <'name'="bar", 'posx'="1040", 'posy'="303",
        'width'="42", 'height'="3", 'scale'="10", 'rotation'="0",
        'texture'="assets/img/menus/volume_bar.png",
        'ho_texture'="assets/img/menus/volume_bar.png",
        'sound'="assets/snd/toggle.ogg", 'callback'="main_bar">

<background: 'type'="img",
'path'="assets/img/background/background_space.png">