<scene_name: 'name'="victory">

<image:>
    <'name'="red", 'posx'="890", 'posy'="520", 'width'="13",
    'heigth'="15", 'scale'="14", 'rotation'="0",
    'texture'="assets/img/player/red.png">
<image:>
    <'name'="victory_background", 'posx'="580", 'posy'="-40", 'width'="1280",
    'heigth'="720", 'scale'="1.6", 'rotation'="0",
    'texture'="assets/img/menus/victory_background.jpg">

<button:>
		<'name'="play", 'posx'="650", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/home_button_still.png",
		'ho_texture'="assets/img/buttons/home_button_hovered.png",
		'sound'="assets/snd/vote.ogg", 'callback'="home">
<button:>
		<'name'="quit", 'posx'="1270", 'posy'="900",
		'width'="64", 'height'="36", 'scale'="3.5", 'rotation'="0",
		'texture'="assets/img/buttons/quit_button_still.png",
		'ho_texture'="assets/img/buttons/quit_button_hovered.png",
		'sound'="assets/snd/toggle.ogg", 'callback'="quit">
