<scene_name: 'name'="victory">

<text:>
    <'name'="story", 'posx'="0", 'posy'="0", 'text'="Red was the imposter he kill every other crewmate",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">

<text:>
    <'name'="story", 'posx'="0", 'posy'="0", 'text'="by desac ",
    'font'="assets/font/American Captain.ttf", 'size'="20",
    'rotation'="0", 'style'="regular", 'color'="255;255;255;255",
    'outline_color'="0;0;0;255", 'outline_thickness'="2",
    'letter_spacing'="1", 'line_spacing'="1">